<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> The Weathered Traveller </title>
    <link href="about.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<header>
			<!--<div class="dropdown">
				<button>B</button>
				<div>
					<a href="#">Link 1</a>
					<a href="#">Link 2</a>
					<a href="#">Link 3</a>
			</div>-->
			<div id="title">
				<img src="assets/images/logo2.png">
				<h1> Travel Website </h1>
			</div>
			<nav>
				<span> <a href="index.html">Home</a> </span>
				<span class="separator"> | </span>
				<span> <a href="Search.html">Search</a> </span>
				<span class="separator"> | </span>
				<span> <a href="about.html"> About </a> </span>
			</nav>
		</header>
		<main>
			<div id="top">
				<h1>About Us</h1>
			</div>
			<h1>Our Mission</h1>
			<p>Our mission is to make a website that lets people choose potential travel destinations based on their preferances about temperature or precipitation levels.<br>
      </p>
			<h1>Our Team</h1>
			<section id="team">
				<section class="profile" id="Jerry">
					<img src="assets/images/user.jpg">
					<h3>Jerry Zhu</h3>
					<section class="description">
						<p> Back-End Developer</p>
					</section>
				</section>
				<section class="profile" id="Star">
					<img src="assets/images/user.jpg">
					<h3>Star Xie</h3>
					<section class="description">
						<p> Back-End Develoepr</p>
					</section>
				</section>
				<section class="profile" id="Alex">
					<img src="assets/images/user.jpg">
					<h3>Alex Li</h3>
					<section class="description">
						<p> Front-end Developer</p>
					</section>
				</section>
				<section class="profile" id="Ryan">
					<img src="assets/images/user.jpg">
					<h3>Ryan Lin</h3>
					<section class="description">
						<p> Front-end Developer</p>
					</section>
				</section>
			</section>
		</main>
		<footer>
			<p>Copyright 2020</p>
		</footer>
    <script src="script.js"></script>
  </body>
</html>