<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="LandingStyle.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<img src="assets/images/logo.png">
		<h1> The Weathered Traveller </h1>    
    <button class = fancyButton> <a href="Set_Temp.html"> Start </a> </button> 
    <!--<button class = fancyButton> <a href = "Set_Rainfall.html"> Choose Preferred Rainfall Levels</a> </button>-->
    <footer>
			<p>Copyright 2020 | All Rights Reserved</p>
		</footer>
  </body>
</html>