<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Travel Website</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="twoValSlider.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<header>
			<div id="title">
				<img src="assets/images/logo2.png">
				<h1> The Weathered Traveller </h1>
			</div>
			<nav>
				<span> <a href="index.html">Home</a> </span>
				<span class="separator"> | </span>
				<span> <a href="Search.html">Search</a> </span>
				<span class="separator"> | </span>
				<span> <a href="about.html">About</a> </span>
			</nav>
		</header>
		<main>
			<section id="results">
				<h2>Search results </h2>
				<section id="listing">
					<div class="item">
						<div class="place">
							<img src="assets/images/mapicon.png">
							<h3>Havana, Cuba</h3>
						</div>
						<img class="citypic" src="assets/images/umbrella.png">
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, eu ius salutandi reprehendunt. No erat fierent constituam eos. Qui imperdiet comprehensam an, libris dissentiet pri et, nihil facilis antiopam pri id. Vim feugiat consetetur ne, vim te verterem signiferumque necessitatibus. Nec justo mucius ex, ut his legere eruditi.
							</p>
						</div>
					</div>
					<div class="item">
						<div class="place">
							<img src="assets/images/mapicon.png">
							<h3>Havana, Cuba</h3>
						</div>
						<img src="assets/images/umbrella.png">
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, eu ius salutandi reprehendunt. No erat fierent constituam eos. Qui imperdiet comprehensam an, libris dissentiet pri et, nihil facilis antiopam pri id. Vim feugiat consetetur ne, vim te verterem signiferumque necessitatibus. Nec justo mucius ex, ut his legere eruditi.
							</p>
						</div>
					</div>
					<div class="item">
						<div class="place">
							<img src="assets/images/mapicon.png">
							<h3>Havana, Cuba</h3>
						</div>
						<img src="assets/images/umbrella.png">
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, eu ius salutandi reprehendunt. No erat fierent constituam eos. Qui imperdiet comprehensam an, libris dissentiet pri et, nihil facilis antiopam pri id. Vim feugiat consetetur ne, vim te verterem signiferumque necessitatibus. Nec justo mucius ex, ut his legere eruditi.
							</p>
						</div>
					</div>
					<div class="item">
						<div class="place">
							<img src="assets/images/mapicon.png">
							<h3>Havana, Cuba</h3>
						</div>
						<img src="assets/images/umbrella.png">
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, eu ius salutandi reprehendunt. No erat fierent constituam eos. Qui imperdiet comprehensam an, libris dissentiet pri et, nihil facilis antiopam pri id. Vim feugiat consetetur ne, vim te verterem signiferumque necessitatibus. Nec justo mucius ex, ut his legere eruditi.
							</p>
						</div>
					</div>
					<div class="item">
						<div class="place">
							<img src="assets/images/mapicon.png">
							<h3>Havana, Cuba</h3>
						</div>
						<img src="assets/images/umbrella.png">
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, eu ius salutandi reprehendunt. No erat fierent constituam eos. Qui imperdiet comprehensam an, libris dissentiet pri et, nihil facilis antiopam pri id. Vim feugiat consetetur ne, vim te verterem signiferumque necessitatibus. Nec justo mucius ex, ut his legere eruditi.
							</p>
						</div>
					</div>
					<div class="item">
						<div class="place">
							<img src="assets/images/mapicon.png">
							<h3>Havana, Cuba</h3>
						</div>
						<img src="assets/images/umbrella.png">
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, eu ius salutandi reprehendunt. No erat fierent constituam eos. Qui imperdiet comprehensam an, libris dissentiet pri et, nihil facilis antiopam pri id. Vim feugiat consetetur ne, vim te verterem signiferumque necessitatibus. Nec justo mucius ex, ut his legere eruditi.
							</p>
						</div>
					</div>
				</section>
			</section>
		</main>
		<footer>
			<p>Copyright 2020</p>
		</footer>
    <script src="script.js"></script>
  </body>
</html>