beautifulsoup4==4.6.3
certifi==2020.6.20
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
google-auth==1.18.0
google-auth-oauthlib==0.4.1
gspread==3.6.0
gunicorn==20.0.4
httplib2==0.18.1
oauth2client==4.1.3
oauthlib==3.1.0
pylint==2.5.3
MarkupSafe==1.1.1
requests==2.24.0
requests-oauthlib==1.3.0
urllib3==1.25.9
scrapy==2.3.0
SQLAlchemy==1.3.18
yagmail==0.11.224